
.cosmos-active-link {
  color: #fff !important;
  border-bottom: solid 2px #1E88E5;
  padding-bottom: 7px !important;
}

//.second-level {
//  color: #fff;
//  background-color: #1F2532;
//  height: 60px;
//
//  .profile-dropdown {
//    background-color: transparent;
//    color: #fff;
//    border: none;
//  }
//  .profile-dropdown:focus {
//    outline: 0;
//  }
//}
