<a href="#" data-toggle="modal" [attr.data-target]="'.'+skillSet?.permalink">
  <div class="card bg-dark text-white">
    <!--<img class="card-img cover-image shadow-default"-->
    <!--src="https://s3.eu-central-1.amazonaws.com/rocketstart-universe/public/{{ skillSet.cover_image }}"-->
    <!--alt="">-->
    <div class="card-img-overlay gradient-default d-flex flex-column justify-content-around">
      <h3 class="card-title">{{ skillSet?.name }}</h3>
      <div class="author">
        <div class="avatar"><img src="{{ skillSet?.author?.profile_image }}" alt="" class="img-circle"></div>
        <div class="name"><span>{{ skillSet?.author?.fullName }}</span></div>
      </div>
    </div>
  </div>
</a>
