<div class="bg-navigation d-flex justify-content-center shadow-b mb-5">
  <div class="second-level scrolls">
    <div class="item"><a routerLink="overview" routerLinkActive="skills-active-link"><i class="fa fa-graduation-cap"></i> Overview</a></div>
    <div class="item"><a routerLink="explore" routerLinkActive="skills-active-link"><i class="fa fa-compass"></i> Explore</a></div>
    <div class="item"><a routerLink="create" routerLinkActive="skills-active-link"><i class="fa fa-plus"></i> Create</a></div>
  </div>
</div>

<router-outlet></router-outlet>
