.modal {
  background-color: #fff;
}

.close {
  outline: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.form-control {
  font-size: 1.5em;
}

img {
  height: 200px;
}

.modal-dialog {
  margin: 0 auto;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  border: none;
  height: inherit;
}

.btn-assistant {
  min-width: 80px;
}

.spin {
  transition: transform 0.8s ease-in-out;
  -webkit-transition: transform 0.8s ease-in-out;
}

.spin:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


