<div class="banner text-center">
  <h2 class="title">{{ skillSet?.name }}</h2>
  <button class="btn btn-outline-success hidden-xs btn-lg call-to-action-btn" type="button" (click)="subscribe(skillSet?.id)" >
    Save to My Skills
  </button>
  <img src="/assets/img/explore-banner.svg" alt="">
</div>


<div class="container-fluid skill-set-content">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center m-1">
        <img class="img-circle avatar" src="{{ skillSet?.author.profile_image }}">
      </div>
      <div class="col-sm-12 col-md-3 d-flex justify-content-center justify-content-md-start align-items-center m-1">
        <span>{{ skillSet?.author.fullName }}</span>
      </div>
      <div class="col-sm-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center m-3">
        <button class="btn btn-success d-lg-none" type="button"><i class="fa fa-plus"></i> Save to My Skills
        </button>
      </div>

      <div class="col-12"><p>{{ skillSet?.description }}</p></div>

      <div class="col-12">
        <div class="tags mb-4">
          <a routerLink="/category/{{ tag?.tag_slug }}" class="btn btn-outline-light btn-sm item"
             *ngFor="let tag of skillSet?.tagged">{{ tag.tag_name }}</a>
        </div>
      </div>
    </div>

    <div class="info-bar row text-center mb-5">
      <div class="col-3 item">{{ skillSet?.skill_set_items.length }} Chapters</div>
      <div class="col-3 item">1,324,400 Astronauts</div>
      <div class="col-3 item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
        class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
      <div class="col-3 item">Last update: {{ skillSet?.updated_at | date }}</div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-lg-10">

        <div class="timeline">
          <ul>

            <li *ngFor="let chapter of skillSet?.skill_set_items; let i=index">
              <div class="bullet pink"></div>
              <div class="time">Chaper {{ i+1 }}</div>
              <div class="desc">
                <h5 class="">{{ chapter.title }}</h5>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
