<div class="container">
  <h1 class="text-center mb-5">{{ skillSet?.name }}</h1>
  <p class="mb-5 text-muted">{{ skillSet?.description }}</p>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div id="accordion" role="tablist">
        <div class="card" *ngFor="let skillItem of skillSet?.skill_set_items">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#{{ skillItem.id }}" aria-expanded="true">
                {{ skillItem?.title }}
              </a>
            </h5>
          </div>

          <div id="{{ skillItem?.id }}" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let lesson of skillItem?.skill_set_subitems; let i=index">{{ i+1}}. {{ lesson.title }}</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
