<div class="banner text-center">
  <h2 class="title animated bounceIn">{{ skillSet?.name }}</h2>
  <button *ngIf="!skillSet?.is_subscriber"
          class="btn btn-outline-success hidden-xs btn-lg call-to-action-btn animated bounceIn"
          type="button" (click)="subscribe(skillSet?.id)">
    Save to My Skills
  </button>
  <button *ngIf="skillSet?.is_subscriber"
          class="btn btn-success hidden-xs btn-lg call-to-action-btn"
          type="button" (click)="unsubscribe(skillSet?.id)">
    Subscribed
  </button>
  <img src="/assets/img/explore-banner.svg" alt="">
</div>


<div class="container-fluid skill-set-content">
  <div class="container">
    <div class="row">

      <div class="col-12 d-flex justify-content-center align-items-center m-3">
        <button *ngIf="!skillSet?.is_subscriber"
                class="btn btn-outline-light d-lg-none btn-lg call-to-action-btn animated bounceIn"
                type="button" (click)="subscribe(skillSet?.id)">
          Save to My Skills
        </button>
        <button *ngIf="skillSet?.is_subscriber"
                class="btn btn-light d-lg-none btn-lg call-to-action-btn"
                type="button" (click)="unsubscribe(skillSet?.id)">
          Subscribed
        </button>
      </div>

      <div class="col-12"><p>{{ skillSet?.description }}</p></div>

      <div class="col-12">
        <div class="tags mb-4">
          <a routerLink="/category/{{ tag?.tag_slug }}" class="btn btn-outline-light btn-sm item"
             *ngFor="let tag of skillSet?.tags">{{ tag.tag_name }}</a>
        </div>
      </div>
    </div>

    <div class="info-bar row text-center mb-5">
      <div class="col-sm-12 col-md-6 col-lg-3 item">{{ skillSet?.items.length }} Chapters</div>
      <div class="col-sm-12 col-md-6 col-lg-3 item">1,324,400 Astronauts</div>
      <div class="col-sm-12 col-md-6 col-lg-3 item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
        class="fa fa-star"></i><i
        class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
      <div class="col-sm-12 col-md-6 col-lg-3 item">Last update: {{ skillSet?.updated_at.date | date }}</div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-lg-8">

        <div class="chapters" *ngFor="let chapter of skillSet?.items; let i=index">

          <h2 class="chapter-title">{{ chapter.title }}</h2>

          <div class="lesson row d-flex align-items-start animated slideInUp"
               *ngFor="let lesson of chapter.skill_set_subitems; let index=index; let last=last">
            <div class="col-2">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <div class="circle">{{ index+1 }}</div>
                </div>
                <div class="col-12 d-flex justify-content-center" *ngIf="!last">
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="col-10">
              <div class="lesson-body">
                <h5 class="pt-1">{{ lesson.title }}</h5>
                <p class="lesson-description animated fadeIn">{{ lesson.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
