.banner {
  margin-bottom: -2px;
  .call-to-action-btn {
    z-index: 1;
    position: relative;
    margin-top: 5rem;
  }

  .title {
    position: relative;
    z-index: 1;
  }
  img {
    position: relative;
    z-index: 0;
    margin-top: -3.7rem;
  }
}

.skill-set-content {
  color: #fff;
  background-color: #00A7F3;
  padding-bottom: 0.5rem;
}

.avatar {
  height: 70px;
}

.info-bar {
  .item {
    border: 1px solid #e3e3e3;
    padding: 1rem;
  }
}

.tags {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  a {
    font-size: 0.8rem;
  }

  a:hover {
    color: #00A7F3;
  }
  .item {
    margin: 3px;
  }
}

/**
 * TIMELINE
 */

.chapters {
  margin-bottom: 3rem;
}

.chapter-title {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.line {
  border-left: solid #fff 1px;
  height: 100px;
}

.lesson {
}

.lesson-body {
}

.lesson-description {
  display: none;
}

.lesson-body:hover .lesson-description {
  display: block;
}



.lesson-title {
  height: 50px;
  width: 50px;
  @media (max-width: 540px) {
    height: 27px;
    width: 27px;
  }
}

.circle {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #fff 1px;
  border-radius: 50%;
  padding: 5px;
  height: 50px;
  width: 50px;
  @media (max-width: 540px) {
    height: 27px;
    width: 27px;
  }

}

.btn-outline-light:hover {
  color: #000;
}
