.modal {
  background-color: #fff;
}

.joined {
  width: 100%;
}

img {
  text-align: center;
  width: 10rem;
}

.close {
  outline: 0;
}

.modal-dialog {
  margin: 0 auto;
  height: 100%;
}

.modal-content {
  background-color: #fff;
  border: none;
  height: inherit;
}
