<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3"><i class="fa fa-compass"></i> Discovery</h1>
    <p class="lead">Explore the best skill sets from masters all over the world</p>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <input type="text" class="form-control search" placeholder="Search skills" autocomplete="off" (keyup)="search()"
             [(ngModel)]="query">
    </div>
  </div>

  <!-- SEARCH -->
  <div class="search-results" *ngIf="query.length > 1">
    <h4 class="text-muted">Search Results for "{{ query }}"</h4>
    <hr>

    <div class="row">
      <div *ngFor="let skillSet of skillSets" class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3 shadow-default">
          <div class="card-body">
            <img src="https://www.algolia.com/static_assets/images/svg/pillar-icon-media-f21bfb37.svg" alt="">
            <h4 class="card-title text-center">{{ skillSet.name }}</h4>
            <p class="card-text">bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RECENT -->
  <div class="newest">
    <h4 class="text-muted">Newest</h4>
    <hr>

    <div class="row">
      <div *ngFor="let skillSet of skillSets" class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="#" class="link-unstyled" routerLink="{{ skillSet.permalink }}">
          <div class="card bg-dark text-white">
            <img class="card-img cover-image"
                 src="https://s3.eu-central-1.amazonaws.com/rocketstart-universe/public/{{ skillSet.cover_image }}"
                 alt="">
            <div class="card-img-overlay gradient d-flex justify-content-center align-items-center">
              <h3 class="card-title">{{ skillSet.name }}</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
