.banner {
  margin-bottom: 3rem;

  .title {
    position: relative;
    z-index: 2;
  }
}

.search {
  border-radius: 2rem;
  font-size: 1.4em;
}

.search-results {
}

.newest {
}

.tags {
  .item {
    margin-right: 4px;
  }
}

.tag {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .3rem .4rem;
  font-size: 0.7rem;
  border-radius: 1rem;
}
