$border-radius: 6px;

.search {
  font-size: 1.5em;
}

.tag {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .3rem .4rem;
  font-size: 0.7rem;
  border-radius: 1rem;
}

.card {
  border: none;
  border-radius: $border-radius;
  min-height: 270px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
