$border-radius: 6px;

.search {
  font-size: 1.7em;
}

.search-results {
}

.newest {
}

.tags {
  .item {
    margin-right: 4px;
  }
}

.tag {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .3rem .4rem;
  font-size: 0.7rem;
  border-radius: 1rem;
}

.cover-image {
  filter: blur(1px);
}

.gradient {
  background: linear-gradient(to bottom right, rgba(255, 0, 0, 0), rgba(0, 137, 255, 0.71)); /* Standard syntax (must be last) */
}

.card {
  border: none;
  border-radius: $border-radius;
  //min-height: 236px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
