@import url('https://fonts.googleapis.com/css?family=Lato|Nunito');

html, body {
  font-family: 'Nunito', sans-serif;
  background-color: #F9F9FB;
}

/**
* Utilities
 */

@media (max-width: 1080px) {
  .hidden-xs {
    display: none !important;
  }
}

.bg-navigation {
  background-color: #1F2532;
}

.scrolls {
  vertical-align: middle;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap
}

/*
 SECOND LEVEL NAVIGATION
 */

.second-level {
  display: flex;
  align-items: center;
  height: 40px;

  .item {
    display: inline-block;
    margin: 0 20px;

    a {
      padding: 0 10px;
      color: #596377;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
