@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700,800,900|Nunito:400,600,700,800,900');

html, body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  min-height: 100%;
}

a:hover {
  text-decoration: none;
}

/**
* Utilities
 */

.img-circle {
  border-radius: 50%;
}

.link-unstyled, .link-unstyled:hover {
  color: inherit;
}

.shadow-default {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.shadow-b {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

@media (max-width: 991px) {
  .hidden-xs {
    display: none !important;
  }
}

.bg-navigation {
  background: #fff;
}

.scrolls {
  vertical-align: middle;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap
}

/*
 SECOND LEVEL NAVIGATION
 */

.second-level {
  display: flex;
  align-items: center;
  height: 40px;

  .item {
    display: inline-block;
    margin: 0 20px;

    a {
      padding: 0 10px;
      color: #000;
    }
  }
}

/*
 BOOTSTRAP OVERWRITES
 */

.btn {
  border-radius: 2em !important;
}

.progress {
  border-radius: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 2px 14px rgba(36, 37, 38, 0.08);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-btn {
  button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

/**
 ORIZENS/NGX-TYPEAHEAD
 */

.results {
  top: 5rem;
  z-index: 10;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 14px rgba(36, 37, 38, 0.08);

  .list-group-item {
    border: none;
  }
}
