<nav class="navbar bg-navigation justify-content-center">
  <div class="first-level d-flex align-items-center scrolls">
    <div class="item"><a routerLink="home" routerLinkActive="active-link">Home</a></div>
    <div class="item"><a routerLink="cosmos" routerLinkActive="active-link">Cosmos</a></div>
    <div class="item"><a routerLink="skills" routerLinkActive="active-link">Skills</a></div>
    <div class="item"><a routerLink="telescope" routerLinkActive="active-link">Telescope</a></div>
  </div>
</nav>
