.navbar {
  color: #fff;

  .first-level {
    //height: 40px;

    .item {
      display: inline-block;
      font-size: 1em;
      margin: 5px 50px;
      text-transform: uppercase;
      a {
        color: #596377;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
      }
      .active-link {
        padding: 3px 15px;
        border: solid 1px #fff;
        border-radius: 14px;
        color: #fff;
        font-weight: bold;
      }
    }

  }

}

